<div class="audio-container">
    <button (click)="playAudio()">{{audio}}</button>
    @if (hasPlayed) { 
        <label for="" > = {{label}}</label>
    }
    <audio src="audio/{{audio}}.mp3" controls #audioPlayer></audio>
</div>

<style>
    .audio-container{
        display: flex;
    }
    audio{
        opacity: 0;
    }
    button{
        font-size: 30px;
        background: transparent;
        border: none;
        color: dodgerblue;
        margin-top: -25px;
        cursor: pointer;
    }
    button:hover{
        color: rgb(25, 56, 86);
    }
    label{
        font-size: 30px;
        background: transparent;
        border: none;
        color: rgb(218, 106, 26);

    }
</style>
