
<div class="view-container">

    <div class="view-header">
        <h1> {{ heading.text }} </h1>
        
        <ul>
            <li *ngFor="let topic of heading.topics">{{ topic }}</li>
        </ul>

        <a href="" class="text-xl"> {{heading.instructions}} </a>
    </div>


    <app-big-star></app-big-star>

    <!-- <app-lesson
        
    >
    </app-lesson> -->
<div>

<div>

    <!-- <div>
        <app-home [dialogComponent]="dialogComponent"></app-home>
    </div> -->
    <!-- <hr />
    <button (click)="_turbo_generator.next('5pm')">Run Turbo Generator</button>
    <hr />
    <button (click)="_chaff.next('chaff')">Fill with Chaff</button>
    <button (click)="_water.next('water')">Start Water Pump</button>
    <button (click)="_fire.next('fire')">Throw fire</button>
    <button (click)="_forced_air.next('forced_air')">Start VTF</button>

    <hr /> -->

    <!-- <ng-container *ngIf="overHeatedSteam$ | async as steam">
        <h1>::: Company Order Given :::</h1>
    </ng-container> -->

    <!-- <ng-container *ngIf="steam$ | async as steam">
        <h1>::: Boilers :::</h1>
        <ng-container *ngIf="steam?.length > 0">
            <h4>Boilers Ready!</h4>
        </ng-container>
    </ng-container> -->



</div>
