
<div class="p-5 flex flex-col space-x-3">
    
    <h1 class="text-center">!Bienvenido al Curso de Inglés!</h1>
        
    <p><strong>Latinglish</strong> 
    es un curso  de Inglés general orientado al autoaprendizaje 
    que ha sido concebido para adultos hispanohablantes.
    El curso tiene como objetivo desarrollar las habilidades orales y escritas 
    en un nivel básico superior para interactuar en una gran diversidad 
    de situaciones comunicativas, referidas fundamentalmente a la vida cotidiana.</p>

    <p>Este curso está enfocado de una manera eminentemente práctica, con numerosos 
    ejemplos y ejercicios interactivos para ser realizados vía 'on-line' aunque 
    incluyendo explicaciones teóricas y gramaticales siempre que se requieren. 
    Todos los ejercicios propuestos incorporan las correspondientes soluciones. 
    Los diálogos del Curso son ágiles, tienen diversidad de acentos y pretenden 
    que el inglés practicado sea actual, el que puedes hablar hoy día 
    en la calle o en cualquier situación cotidiana.</p>

    <!-- <p>Si estás empezando a aprender inglés y encuentras las primeras lecciones un 
    poco complejas, no tienes que preocuparte ni rendirte. Si ya tienes algunos 
    conocimientos, puedes igualmente iniciarte en el curso, ya que está diseñado 
    con una metodología útil para 'Principiantes' y 'Falsos principiantes'.</p>

    <p>En las actividades, solamente tienes que hacer las tareas que te 
    preguntan y no tratar de entender todo el contenido. Con el tiempo 
    aprenderás poco a poco a comprender la lengua inglesa.
    Para ayudarte, repite las actividades hasta que las realices fácilmente. 
    En esta misma página, puedes encontrar algunas instrucciones que te ayudarán 
    al principio.</p> -->

    <p>Al final del curso alcanzarás un Nivel Elemental de inglés, suficiente 
    para mantener cómoda y holgadamente conversaciones sencillas expresadas 
    en todos los tiempos.   
    Nos resta desearte ÉXITOS porque sabemos que puedes hacerlo.</p>

    <span>
        Antes de comenzar el curso, te aconsejamos consultar primeramente el 
        icono de navegación 
    </span>

    <button 
        class="btn btn-primary"
    >
        Regresar
    </button>

</div>